{% extends 'base.html.twig' %}

{% block title %}Profile - {{ parent() }}{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}

<h1>Your Profile</h1>

{% endblock %}
