body {
    padding: 3rem;
}

.dropdown-menu {
    height: 20rem;
    width: 11.85rem;
    overflow: auto;
}

.rating {
    margin-bottom: 2rem;
    margin-right: 1rem;
    justify-content: center;
}

.rating .dropdown-menu {
    height: auto;
    width: 11.85rem;
    overflow: auto;
}

.genre {
    margin-bottom: 2rem;
}

.dropdowns {
    display: flex;
}


.wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.wrapper2 {
    justify-content: center;
    margin-bottom: 2rem;
}

.card {
    margin: 0 2rem 2rem 0;
}


.card-img-top {
    height: 18rem;
    margin: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.pagination  {
    display: flex;
    justify-content: space-between;
    width: 18rem;
    margin: auto;
}

.pagination2 {
    justify-content: center;
}

.next {
    width: 130px;
}
