body {
    font-family: 'Patrick Hand', cursive;
}

.titleAnimes {
    text-align: center;
    color: #0400ff87;
    margin-top: 2rem;
}

.dropdowns {
    display: flex;
    justify-content: space-around;
}

.dropdown-menu {
    height: 20rem;
    width: auto;
    overflow: auto;
}

.rating {
    justify-content: center;
}

.rating .dropdown-menu {
    height: auto;
    width: auto;
    overflow: auto;
}

.dropdowns {
    display: flex;
    margin-bottom: 3rem;
}

.wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 0 3rem 3rem 3rem;
}

.wrapper2 {
    justify-content: center;
    margin-bottom: 2rem;
}

.card {
    margin: 2rem;
    border-radius: 15px;
}


.card-img-top {
    height: 18rem;
    margin: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.pagination  {
    display: flex;
    justify-content: space-between;
    width: 18rem;
    margin: auto;
    margin-bottom: 2rem;
}

.pagination2 {
    justify-content: center;
}

.next {
    width: 130px;
}

.empty-manga {
    display: flex;
    flex-direction: column;
}

.sorryMsg {
    text-align: center;
    margin-top: 2rem;
}

.linkEmpty {
    width: 9rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
}

.profileTitle {
    text-align: center;
    color: #0400ff87;
    margin-top: 2rem;
}

.favoriteMissing {
    color: teal;
    font-size: 1.7rem;
    margin-top: 10rem;
}
