#user {
    width: 50rem;
    text-align: center;
    margin: auto;
    margin-top: 5rem;
}

#user_submit {
    display: block;
    margin: auto;
    width: 10rem;
    margin-top: 3rem;
    font-size: 1.3rem;
}

.registrationTitle {
    text-align: center;
    padding-top: 3rem;
    color: #0400ff87;
}